<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tech.thrithvam.theclinicapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_clinic_light_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Splashscreen"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Home" />
        <activity
            android:name=".AddImage"
            android:configChanges="orientation|screenSize" />

        <receiver android:name=".AddImageWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/add_image_widget_info" />
        </receiver>

        <activity
            android:name=".Appointments"
            android:label="Appointment Dates"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".Remainders"
            android:label="Remainders"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".Schedules"
            android:label="Schedules"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity android:name=".PatientDetails"
            android:label="Patients Details"
            android:configChanges="orientation|screenSize">
        </activity>
    </application>

</manifest>
